@import "tailwindcss";

/* @theme {
    --background-image-uber: url('../img/bguber.png');
    --background-image-city: url('../img/bg-city.png');
} */

.bg-custom-uber {
   background-image: url('../img/bguber.png');
}

.bg-custom-city {
    background-image: url('../img/bg-city.png');
 }